.page-container {
  padding: 20px;
}

.header-card {
  background: #ffffff;
}

.custom-table .th {
  font-weight: 600;
  background: #f5f7fa;
  color: #374151;
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table .td {
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
}

.data-row:hover {
  background-color: #f9fafb;
  transition: 0.2s;
}

.header-row {
  background-color: #eef2ff !important;
}
